@media screen and (max-width: 1080px){
  
}nav {
  overflow: hidden;
  position: fixed;
  width: 100%;
  background-color: #000;
  padding: .5em;
  top: 6%;


}

@media screen and (min-width: 1080px){
  
}nav {
  overflow: hidden;
  position: fixed;
  width: 100%;
  background-color: #000;
  padding: .5em;

  top: 8%;


}

h1{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
   
}

h2{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
 
}
h3{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}
h4 {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
}


p{
    font-family: Arial, Helvetica, sans-serif;
}

article{
    padding: 1vw;
    width: 25vw;
}



#artciles {
    display: flexbox;
    grid-template-rows: repeat(2,25vw);
    grid-template-columns: repeat(3,25vw);
    
    border: 1vw;
}