



#title {
   padding: 2%;
    display: flex;
    background-color: darkblue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

#caption {
    padding: 2%;
     background-color: darkgreen;
     color: white;
     font-family: Arial, Helvetica, sans-serif;
     
 
 }

 #bottom {
    display: flex; 
    justify-content: center; 
    align-items: center; 
     background-color: gray;
     color: white;
     font-family: Arial, Helvetica, sans-serif;

 
 }



#event {
    display: flex;
    
    border: 2%;
    border-color: white;
    padding: 2%;
    
     background-color: darkred;
     color: white;
    
     
 
 }

 #event:hover{
 
    transition: 2s ease-out 100ms;
    background-color: red;

}

 


h1{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
   
}

h2{
 
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
 
}
h3{
    
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}
h4 {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
}




p{
    font-family: Arial, Helvetica, sans-serif;
}



.list{
   
   display: grid;
   gap: 1vw;
   grid-template-columns: repeat(3, 1fr);
   
}

@media screen and (max-width: 800px){

    #title {
   
        display: flex;
        background-color: purple;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    
    }
  
    .list{
   
        display: flex;
        flex-direction: column;
         padding: 2vw;
     }

     #event {
        display: flex;
        min-height: 15vw;
        border: 2%;
        border-color: white;
        padding: 2%;
        
         background-color: darkred;
         color: white;
        
         
     
     }
    

}
