



#title {
   padding: 2%;
    display: flex;
    background-color: darkblue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}


h1{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
   
}

h2{
    padding: 2%;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
 
}
h3{
    
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}
h4 {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
}


p{
    font-family: Arial, Helvetica, sans-serif;
}



.list{
   
   display: grid;
   grid-template-columns: 30vw 30vw 30vw;
   
}

@media screen and (max-width: 400px){

    #title {
   
        display: flex;
        background-color: purple;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    
    }
  
    .list{
   
        display: flex;
        flex-direction: column;
         padding: 2vw;
     }

}
